.box-title {
  display: grid;
  gap: 1.1rem;
  margin: 3rem 3rem 0px;
  transition: var(--trans-01s-ease-out);
}

.box-title-hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.text-date {
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 4px;
  opacity: 40%;
  text-transform: uppercase;
  user-select: none;
}

.text-title {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1;
  user-select: none;
}
